body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.deleteButton, .favButton {
  padding: 0 1em;
  color: black;
}

.likes {
  padding: 0 1em;
}
